{% extends 'partials/base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static './assets/css/cart.css' %}">
{% endblock %}
{% block content %}
<main class="main" id="cart-list">
<div class="container">
<div class="basket">
    <div class="basket-module">
      <label for="promo-code">Welcome to cart</label>
    </div>
    <div class="basket-labels">
      <ul>
        <li class="item item-heading">Item</li>
        <li class="cart-price">Price</li>
        <li class="quantity">Quantity</li>
        <li class="subtotal">Subtotal</li>
      </ul>
    </div>
    {% if totalcartitems %}
    {% for product_id, item in cart_data.items %}
    <div class="basket-product">
      <div class="item">
        <div class="product-image">
          <img src="{{ item.image }}" alt="Placholder Image 2" class="product-frame" width="140" height="150">
        </div>
        <div class="product-details">
          <span class="item-quantity">{{item.qty}}</span> <p class="showcase-title">x {{item.title}}</p>
          <p class="showcase-desc">Navy, Size 18</p>
          <p class="showcase-desc">Product Code - 232321939</p>
        </div>
      </div>
      <div class="cart-price">{{item.price|floatformat:2}}</div>
      <div class="quantity">
        <input type="number" Placholder="Qty" value="{{item.qty}}" class="w-25 product-qty-{{ product_id }}">
      </div>
      <div class="subtotal">${% widthratio item.price 1 item.qty %}</div>
      <div class="cart-remove">
        <button class="delete-product" data-product="{{ product_id }}">Remove</button>
        <button class="update-product" data-product="{{ product_id }}">Update</button>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h2>Your cart is empty -</h2>
    <a href={% url 'apps:products-list' %} class="add-cart-btn"><h>See for products</h></a>
    {% endif %}

    
  </div>
  <aside>
    <div class="summary">
      <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
      <div class="summary-subtotal">
        <div class="subtotal-title">Subtotal</div>
        <div class="subtotal-value final-value" id="basket-subtotal">${{cart_total_amount}}</div>
        <div class="summary-promo hide">
          <div class="promo-title">Promotion</div>
          <div class="promo-value final-value" id="basket-promo"></div>
        </div>
      </div>
      <div class="summary-delivery">
        <select name="delivery-collection" class="summary-delivery-selection">
            <option value="0" selected="selected">Select Collection or Delivery</option>
           <option value="collection">Collection</option>
           <option value="first-class">Royal Mail 1st Class</option>
           <option value="second-class">Royal Mail 2nd Class</option>
           <option value="signed-for">Royal Mail Special Delivery</option>
        </select>
      </div>
      <div class="summary-total">
        <div class="total-title">Total</div>
        <div class="total-value final-value" id="basket-total">${{cart_total_amount}}</div>
      </div>
      <div class="summary-checkout">
        {% if totalcartitems %}
        <a href={% url 'apps:checkout' %} class="checkout-cta">Go to Secure Checkout</a>
        {% endif %}
      </div>
    </div>
</aside>
</div>
</main>
{% endblock content %}
      